{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}
.bg{
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    flex: 1;
    margin-left: 300px;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;

    background-color: transparent;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

h1 {
    color: #ffffff;
    font-weight: bolder;
}
h2 {
    color: #ffffff;
}
p {
    line-height: 1.6;
    color: #ffffff;
    font-weight: bolder;
}


</style>



<body class="bg"
style="background-image: url({% static '/images/about.jpg' %});">


    <div class="container1">
        <marquee><h1>Shocking the Norms, Energizing Tomorrow: About Electro</h1></marquee>

            <h2>"Electricity can transform people's lives, not just economically but also socially."</h2>
            <p> Welcome to Electro, where we're not just a power source; we're a pulsating force of innovation.
             As sparks of creativity meet the currents of ingenuity, we redefine what it means to power the world.
             Here's a glimpse into the heartbeat of Electro, the electrifying force propelling us into the future.
Electro is a website based on the electricity board management system, enabling
different consumers to pay their electricity bills and access all the services and features
provided by a particular electricity supply chain more straightforwardly and
productively.</p>
    </div>
</body>
{% endblock content %}


