{% extends 'base.html' %}

{% block content %}
  <div class="testbox">
    <form method="post" action="{% url 'complain_form' %}">
      {% csrf_token %}
      <div class="banner">
        <h1>Complain Registration Form</h1>
      </div>
      <div class="item">
        <h3>Name</h3>
        <div class="name-item">
          {{ form.name }}
        </div>
      </div>
      <div class="contact-item">
        <div class="item">
          <h3>Email</h3>
          {{ form.email }}
        </div>
        <div class="item">
          <h3>Phone</h3>
          {{ form.phone }}
        </div>
        <div class="item">
          <h3>Write your complaint</h3>
          {{ form.message }}
        </div>
      </div>
      <div class="btn-block">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
