{% load static %}
<!DOCTYPE html>
<html lang="en">
{#for invioce#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'css/invoice.css' %}">
</head>
<body>

<div class="invoice-container">
    <div class="header">
        <p><b>ELECTRO</b></p>
        <p>Christ Deemed to be University</p>
        <p>Lavasa,412112</p>
        <p>Phone: 1800-123-2009</p>
    </div>

    <div class="invoice-title">INVOICE</div>


    <div class="bill-to">
        <p>BILL TO:{{ phone_number }}</p>
        <p>Recipient Name:{{ user_name }}</p>
        <p>City: Lavasa </p>
        <p>Pin code: 412112</p>
        <p>Email: {{ user.email }} </p>
    </div>

    <div class="invoice-items">
        <table>



            <tr>
                <td>Billing Unit</td>
                <td>{{ unit}}</td>
            </tr>

            <tr>
                <td>Cost per unit</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>Nill</td>
            </tr>


        </table>
    </div>

    <div class="total">
        Total:{{ amount }}
    </div>


    <div class="thank-you">
        Thank you choosing our services!
    </div>
    <button id="downloadbutton" style="background-color: #04AA6D; margin-top: 10px; margin-left: 335px; color: white" > <a href="{% url 'download_invoice' %}">Download</a> </button>
</div>

</body>
</html>

