{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set, viewport, and compatibility -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- Title of the page -->
  <title>Sign-up</title>
  
  <!-- External stylesheet link for boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
  <!-- Link to the static CSS file for additional styling -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Internal style for customizing the select input -->
  <style>
    .input-box select {
      /* Styles for the select input */
    }

    /* Styles for the custom arrow icon in the select input */
    .input-box select::-ms-expand {
        display: none;
    }
  </style>
</head>

<body>

  <!-- Wrapper for the entire form -->
  <div class="wrapper">
    <!-- Display form errors, if any -->
    {{ form.errors }}

    <!-- Sign-up form -->
    <form action="" method="POST">
      {% csrf_token %}

      <!-- Form title -->
      <h1>Sign-up</h1>

      <!-- Input box for choosing the type of user -->
      <div class="input-box">
        <label for="type">Choose the type of user</label>
        {{ form.user_type }}
      </div>

      <!-- Input boxes for various user details -->
      <div class="input-box">
        {{ form.username }}
      </div>
      <div class="input-box">
        {{ form.first_name }}
      </div>
      <div class="input-box">
        {{ form.last_name }}
      </div>
      <div class="input-box">
        {{ form.email }}
      </div>
      <div class="input-box">
        {{ form.phone_number }}
      </div>
      <div class="input-box">
        {{ form.password }}
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn">Sign-up</button>
    </form>
  </div>

</body>

</html>
