/* Global styles */
body {
    margin: 0; /* Remove default margin */
    font-family: 'Arial', sans-serif; /* Set font family */
}

/* Header styles */
header {
    background-color: #000000; /* Set background color */
    padding-top: 20px; /* Add padding at the top */
    padding-bottom: 20px; /* Add padding at the bottom */
    color: #fff; /* Set text color */
    text-align: center; /* Center-align text */
}

/* Container styles */
.container {
    max-width: 1200px; /* Set maximum width */
    margin: 0 auto; /* Center-align container */
    padding: 0 20px; /* Add horizontal padding */
    color: #ffffff; /* Set text color to white */
    text-shadow: 2px 2px 4px #000000; /* Add text shadow */
}

/* Heading 1 styles */
.container h1 {
    font-family: 'Times New Roman', serif; /* Set font family */
    font-size: 51px; /* Set font size */
    color: #1bcbe3; /* Set text color */
    margin: 0; /* Remove default margin */
    padding: 0px 0px 6px 0px; /* Add padding */
    letter-spacing: -2px; /* Adjust letter spacing */
    font-weight: bold; /* Set font weight to bold */
}

/* Hero section heading styles */
.hero h2 {
    color: #ffffff; /* Set text color to white */
}

/* Navigation styles */
nav ul {
    list-style: none; /* Remove default list style */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline-block; /* Display list items inline */
    margin-right: 20px; /* Add margin between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set link text color */
    font-size: 16px; /* Set font size */
}

/* Hero section styles */
.hero {
    position: relative; /* Set position to relative */
    text-align: center; /* Center-align text */
    padding: 50px 0; /* Add padding */
    color: #fff; /* Set text color to white */
}

/* Container heading, paragraph, and button styles */
.container h2,
.container p,
.container .cta-button {
    position: relative; /* Set position to relative */
    z-index: 1; /* Set z-index */
}

/* Features section styles */
.features {
    background-color: #f5f5f5; /* Set background color */
    padding: 50px 0; /* Add padding */
}

.features h2 {
    text-align: center; /* Center-align text */
    margin-bottom: 40px; /* Add margin at the bottom */
}

.feature {
    text-align: center; /* Center-align text */
    margin-bottom: 40px; /* Add margin at the bottom */
}

/* Footer styles */
footer {
    background-color: #000000; /* Set background color */
    color: #fff; /* Set text color */
    text-align: center; /* Center-align text */
    padding-top: 10px; /* Add padding at the top */
    padding-bottom: 10px; /* Add padding at the bottom */
}

/* Call to action button styles */
.cta-button {
    display: inline-block; /* Display as inline-block */
    padding: 15px 30px; /* Add padding */
    margin-top: 20px; /* Add margin at the top */
    background-color:  #100f0f; /* Set background color */
    color: #fff; /* Set text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Add border radius */
    transition: background-color 0.3s ease-in-out; /* Add transition */
}

.cta-button:hover {
    background-color: rgb(242, 141, 46); /* Change background color on hover */
}

/* Container circle styles */
.containercircle {
    background-color: #000000; /* Set background color */
    height: 90px; /* Set height */
    width: 90px; /* Set width */
    border-radius: 50px; /* Add border radius to make it circular */
    border-color: #333; /* Set border color */
    border: 10px; /* Add border */
}
